@import "../../styles/variables";

.game-section {
 padding-top: 1px;

  header {
    margin-left: 40px;
  }
}

ul.game-item-container {
    list-style: none;

    > li.loader {
      padding: 10px;

      > strong {
        margin: 0 auto;
        font-size: 20px;
      }
    }

    > li {
      display: flex;

      .imageBox {
        flex-basis: 140px;
      }
      .descriptionBox {
        flex: 1;

        > ul {
          list-style: none;
          padding-inline-start: 20px;

          li.action {
            text-align: right;
            margin-right: 10px;
          }
        }
      }
    }
}
