@import "../../styles/variables";
.category-section {
    padding-top: 1px; 

    header {
        margin-left: 40px;
        margin-right: 20px;
      }

    > ul {
        list-style: none;

        > li {
            line-height: 30px;
            a {
                color: black;
                padding-left: 6px;
            }
        }
        > li.active {
            font-weight: bold;
            background-color: #000;
            border-radius: 3px;

            > a {
                color: white;
            }
        }
    
    }
}
